<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lms Activation Code</title>
    <style>

    </style>
</head>

<h1>Welcome lsm</h1>
<p>hi, <%= user.name %> this is your Activation code <%= activationCode %>
</p>

<body>

</body>

</html>